<a href="https://colab.research.google.com/github/Lechuteq/Kaggle_Learning/blob/main/Python_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists

In [1]:
primes = [2, 3, 5, 7]

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [3]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
# (I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [4]:
my_favourite_things = [32, 'raindrops on roses', help]
# (Yes, Python's help function is *definitely* one of my favourite things)

In [5]:
planets[0]

'Mercury'

In [6]:
planets[1]

'Venus'

In [7]:
planets[-1]

'Neptune'

In [8]:
planets[-2]

'Uranus'

In [9]:
planets[0:3]

['Mercury', 'Venus', 'Earth']

In [10]:
planets[:3]

['Mercury', 'Venus', 'Earth']

In [11]:
planets[3:]

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [12]:
# All the planets except the first and last
planets[1:-1]

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [13]:
# The last 3 planets
planets[-3:]

['Saturn', 'Uranus', 'Neptune']

In [14]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [15]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)
# That was silly. Let's give them back their old names
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]

['Mur', 'Vee', 'Ur', 'Malacandra', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [16]:
# How many planets are there?
len(planets)

8

In [17]:
# The planets sorted in alphabetical order
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [18]:
primes = [2, 3, 5, 7]
sum(primes)

17

In [19]:
max(primes)

7

In [20]:
x = 12
# x is a real number, so its imaginary part is 0.
print(x.imag)
# Here's how to make a complex number, in case you've ever been curious:
c = 12 + 3j
print(c.imag)

0
3.0

In [21]:
x.bit_length

In [22]:
x.bit_length()

4

In [23]:
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

In [24]:
# Pluto is a planet darn it!
planets.append('Pluto')

In [25]:
help(planets.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [26]:
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [27]:
planets.pop()

'Pluto'

In [28]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [29]:
planets.index('Earth')

2

In [30]:
planets.index('Pluto')

ValueError: ignored

In [31]:
# Is Earth a planet?
"Earth" in planets

True

In [32]:
# Is Calbefraques a planet?
"Calbefraques" in planets

False

In [ ]:
help(planets)

In [34]:
t = (1, 2, 3)

In [35]:
t = 1, 2, 3 # equivalent to above
t

(1, 2, 3)

In [36]:
t[0] = 100 # illegal operations - tuples are immutable

TypeError: ignored

In [37]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [38]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [39]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1