<a href="https://colab.research.google.com/github/Lechuteq/Kaggle_Learning/blob/main/Python_intro_theory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Intro to Programming - theory

In [1]:
print("Hello, world!")

Hello, world!

In [2]:
print(1 + 2)

3

In [3]:
print(9 - 5)

4

In [4]:
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

In [5]:
# Multiply 3 by 2
print(3 * 2)

6

In [7]:
# Multiply 3 by 2 - test

In [8]:
# Create a variable called test_var and give it a value of 4+5
test_var = 4 + 5

# Print the value of test_var
print(test_var)

9

In [9]:
# Set the value of a new variable to 3
my_var = 3

# Print the value assigned to my_var
print(my_var)

# Change the value of the variable to 100
my_var = 100

# Print the new value assigned to my_var
print(my_var)

3
100

In [10]:
# Increase the value by 3
my_var = my_var + 3

# Print the value assigned to my_var
print(my_var)

103

In [11]:
# Create variables
num_years = 4
days_per_year = 365
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

In [12]:
# Update to include leap years
days_per_year = 365.25

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126230400.0

In [14]:
#print(hours_per_dy)

In [15]:
print(hours_per_day)

24